{% extends 'main.html' %}
{% load static %}

{% block content %}
<main>
  <article>

    <!-- #HERO -->

    <section class="section hero" id="home">
      <div class="container">

        <div class="hero-content">
          <h2 class="h1 hero-title">DRIVE. SWAP. REPEATE. </h2>
          <p class="hero-text">ADAPT YOUR CAR TO YOUR LIFESTYLE</p>
        </div>
        <div class="hero-banner">
          
        </div>
        

      </div>
    </section>


    <!-- #FEATURED CAR -->


      </div>
    </section>

  </article>
</main>
{% endblock content %}
